.footer {
  background-color: $purple;

  &__nav-wrapper {
    border-top: 2px solid $lightpurple;
  }

  &__nav-section {
    padding-right: 40px;

    @media (min-width: 768px) {
      padding-left: 40px;
    }

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
      border: none;
    }
  }

  &__section-head {
    color: $gray;
    text-transform: uppercase;
  }

  &__nav {
    margin-top: 16px;

    &:nth-child(1) {
      margin-top: none;
    }
  }
}
