.lets-talk {
  background-color: $darkblue;
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__arrow {
    @include inner-padding-all-screens();
  }
}
