.news {
  background-color: $darkblue;

  &__list-item {
    margin-bottom: 66px;

    &:nth-child(1) {
      margin-bottom: 83px;

      @include margin-bottom-all-screens();
    }
  }

  &__view-more {
    border: 2px solid white;
    width: fit-content;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    @include margin-bottom-all-screens();
    @include margin-top-all-screens();
  }

  @include padding-all-screens(
    $lg: 100px 80px,
    $md: 80px 60px,
    $sm: 60px 40px,
    $xs: 40px 30px
  );
}
