.thought-leadership {
  background-color: white;

  @include padding-all-screens();
  
  &__list {
    display: flex;
    justify-content: center;
    row-gap: 48px;
    margin-top: 70px;
    flex-wrap: wrap;
  }
}
