@mixin padding-all-screens(
  $lg: 22px 80px,
  $md: 20px 60px,
  $sm: 20px 40px,
  $xs: 20px 30px
) {
  @media (max-width: 1024px) {
    padding: $lg;
  }
  @media (max-width: 768px) {
    padding: $md;
  }
  @media (max-width: 640px) {
    padding: $sm;
  }
  @media (max-width: 320px) {
    padding: $xs;
  }
}

@mixin font-all-screens($lg: 22.5px, $md: 22.5px, $sm: 22.5px, $xs: 22.5px) {
  @media (max-width: 1024px) {
    font-size: $lg;
  }
  @media (max-width: 768px) {
    font-size: $md;
  }
  @media (max-width: 640px) {
    font-size: $sm;
  }
  @media (max-width: 320px) {
    font-size: $xs;
  }
}

@mixin line-height-all-screens(
  $lg: 22.5px,
  $md: 22.5px,
  $sm: 22.5px,
  $xs: 22.5px
) {
  @media (max-width: 1024px) {
    line-height: $lg;
  }
  @media (max-width: 768px) {
    line-height: $md;
  }
  @media (max-width: 640px) {
    line-height: $sm;
  }
  @media (max-width: 320px) {
    line-height: $xs;
  }
}

@mixin inner-padding-all-screens($lg: 60px, $md: 40px, $sm: 30px, $xs: 20px) {
  @media (max-width: 1024px) {
    padding: $lg;
  }
  @media (max-width: 768px) {
    padding: $md;
  }
  @media (max-width: 640px) {
    padding: $sm;
  }
  @media (max-width: 320px) {
    padding: $xs;
  }
}
